{{#if siteSettings.fixed_digest_enabled}}
  <div class="control-group fixed_digest">
    <label class="control-label">Fixed Digest</label>
    <div class="controls fixed_digest_emails">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.fixed_digest_emails}}
        {{i18n 'user.fixed_digest_emails.title'}}
      </label>
    </div>
    <div class="controls fixed_digest_deliveries">
      <label>{{i18n 'user.fixed_digest_deliveries.title'}}</label>    
      {{hour-setting  choices="0800|0900|1000|1100|1200|1300|1400|1500|1600" settingName="fixed_digest_deliveries" settingValue=model.custom_fields.fixed_digest_deliveries}}
      <input class="fixed_digest_dropdown"></input>
    </div>
    <div class="instructions">{{i18n 'user.fixed_digest_deliveries.instructions'}}</div>
  </div>
{{/if}}